@font-face {
  font-family: "snowy";
  src: url("/fonts/") format("woff2"),
    local("snowyowlregular-4bynd-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rainbow";
  src: url("fonts/snowyowlregular-4bynd-webfont.woff2"),
    url("fonts/rainbow_season-webfont.woff");
}
