* {
  /* border: 1px red solid; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 100px;
  width: 100%;
  font-size: 32px;
}

.logo img {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add h3 {
  font-weight: 100;
}

th {
  font-weight: 200;
}

td {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.modal {
  width: 50%;
  height: 500px;
  background-color: white;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 10;
}

.suppr {
  width: 50%;
  height: 500px;
  background-color: white;
  position: absolute;
  left: 25%;
  top: 25%;
  z-index: 10;
}

.hidden {
  display: none;
}

.affich {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select {
  display: flex;
  flex-flow: row nowrap;
}
.prix {
  display: inline-block;
}

.prix input {
  width: 40%;
}
.cross {
  cursor: pointer;
}
.sub {
  width: 20%;
}
